@import url(./common.css);


            /* main */
.main{ 
    width: 100%; 
    /* height: 100vh; -> body안에서 벗어남 */
    /* overflow: hidden; */
}
    /* main1 */
.main1{ 
    width: 100%; height: 1170px;
    position: relative;
}
/* popup */
.pop{
    width: 17%; height: 100%;
    position: absolute;
    left: 10%; top: 25%;
    z-index: 1;
}
.pop img{
    width: 100%;
}
.pop > a:nth-of-type(2){
    text-align: center;
    display: inline-block;
    width: 100%; height: 2%;
    background-color: #fff;
}
/* arrow1 */
.arrow1{
    width: 100%;
    position: absolute; left: 0; top: 45%;
    font-size: 30px;
    color: #000;
    z-index: 1;
    position: relative;
}
.arrow1 > a{
    display: block;
}
.arrow1 > a:nth-child(1){
    position:absolute;
    left:2%;
}
.arrow1 > a:nth-child(2){
    position:absolute;
    right:2%;
}
.arrow1 > a:nth-child(1)::before{
    content: '';
    height: 30px;
    border-left: 2px solid rgb(255, 255, 255);
    display: block;
    transform: rotate(15deg);
}
.arrow1 > a:nth-child(1)::after{
    content: '';
    height: 30px;
    border-left: 2px solid rgb(255, 255, 255);
    display: block;
    transform: rotate(-15deg) translateY(-2px);
}
.arrow1 > a:nth-child(2)::before{
    content: '';
    height: 30px;
    border-left: 2px solid rgb(255, 255, 255);
    display: block;
    transform: rotate(-15deg);
}
.arrow1 > a:nth-child(2)::after{
    content: '';
    height: 30px;
    border-left: 2px solid rgb(255, 255, 255);
    display: block;
    transform: rotate(15deg) translateY(-2px);
}
/* main1 - slide-wrap */
.main1 .slide-wrap{
    width: 100%;
    margin: 0;
}
.main1 .slide{
    width: 100%;
    position: relative;
    margin: 0 auto;
}
.main1 .photo {
    width: 100%;
}
.main1 .photo > img{ 
    width: 130%;
}
.main1 .slide .info{
    padding: 160px;
    color: #fff;
    position: absolute;
    left:0; bottom: 0;
    line-height: 1.7;
}
.main1 .slide .info > b{
    font-size: 25px;
}
.main1 .slide .info > p{
    font-size: 18px;
    white-space: pre-line;
}
/* btn1 */
.btn1{
    position: absolute;
    left: 50%; bottom: 5%;
    width: 10%;
    transform: translate(-50%, 50%);
}
.btn1 > a{
    display: inline-block;
    width: 13px; height: 13px;
    border-radius: 100%;
    background-color: #d4d4d4;
    margin-right: 4%;
    transition: .5s;
}
.btn1 > a:hover{
    background-color: #5D912E;
}

    /* main2 */
.main2{
    width: 100%; height: 1153px;
    display: flex;
}
/* line */
.main2 .line{ 
    color: #5D912E; font-size: 10px;
}
.main2 .line::before{
    content: '';
    display: inline-block;
    width: 180px;
    border-top:1px solid #5D912E;
    transform: translateX(-5%);
}
.main2 .line::after{
    content: '';
    display: inline-block;
    width: 180px;
    border-top:1px solid #5D912E;
    transform: translateX(5%);
}
/* check */
.main2 .check{
    width: 40px; height: 40px;
}
.main2 .check img{
    width: 100%; height: 100%;
    transform: translateY(20%);
}
/* arrow2 */
.main2 .arrow2 > a{
    font-size: 40px;
    color: #bbbbbb;
    letter-spacing: 27px;
}
/* main2-left */
.main2 .main2-left{
    width: 50%; height: 100%;
}
.main2 .main2-left .main2-linfo{
    width: 100%; height: 40%;
    position: relative;
}
.main2 .line { 
    position: absolute; left: 50%; top: 7%;
    transform: translate(-50%);
}
.main2 .check {
    position: absolute; left: 50%; bottom: 25%;
    transform: translate(-50%);
}
.main2 .arrow2 { 
    position: absolute; right: 0; bottom: 5%;
}
.main2 .m2-t1{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: absolute; top: 30%;
}
.main2 .m2-t1 > b{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: lighter ;
    padding: 0;
}
.main2 .m2-t1 > p{
    padding-top:10px;
    white-space: pre-line;
    font-size: 8px;
    text-transform:capitalize;
    color: #bbb;
}
.main2 .m2-i2{
    width: 100%; height: 60%;
    background: url(../img/m2-2.jpg);
    background-repeat: no-repeat;
    background-position: 60%;
    background-size: 150%;
}
/* main2-right */
.main2-right{
    width: 50%; height: 100%;
}
.m2-i1{
    width: 100%; height: 65%;
    background: url(../img/m2-1.jpg);
    background-repeat: no-repeat;
    background-size: 145%;
    background-position: 50%;
}
.main2-rinfo {
    width: 100%; height: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.m2-i3{
    width:50%; height: 100%;
    background: url(../img/m2-3.jpg);
    background-repeat: no-repeat;
    background-size: 165%;
    background-position: 10%;
}
.m2-t2{
    width: 50%;
    text-align: center;
    font-size: 18px;
    white-space: pre;
    padding: 0 15% 15% 0;
    color: #000;
}
.m2-t2 > span{
    font-size: 30px;
    color: #000;
}

    /* main3 */
/* background:color image position / size repeat attachment; */
/* background: #fff url('./img/02.jpg') 0 0 / 70% no-repeat fixed; */
.main3{
    width: 80%; height: 1080px;
    margin: 0 auto;
}
.main3-bg{
    width: 100%; height: 80%;
    background: url(../img/m3-1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 20% 60%;
    position: relative;
}
.main3-bg::before{
    content: '';
    display: inline-block;
    width: 100%; height: 100%;
    background-color: #000;
    opacity: 80%;
    position: absolute;
    left: 0;
}
.main3-info{
    position: absolute;
    left: 50%; top:35%;
    transform: translate(-50%);
    text-align: center;
}
.main3-info > b{
    color: #fff;
    font-size: 50px;
    border-bottom: 1px solid #fff;
}
.main3-info > p{
    font-size: 15px;
    padding-top: 5px;
    color: #c2c1c1cb;
}
/* ★ m3 animation ★ */
.main3-img{
    width: 97%; height: 37%;
    position: absolute;
    left: 40%;
    bottom: -25%;
    transform: translate(-40%,-40%);
    display: flex;
    justify-content: space-evenly;
    animation: ani-m3a .5s linear ;
    transform-origin: 0% 0% ;
}
.main3-img > a{
    display: inline-block;
    width: 28%;
    transition: 1s;
    position: relative;
    transform-origin: 0% 0%;
}
@keyframes ani-m3a{
    0%{ transform: translate(-40%, 0%);}
    100%{ transform: translate(-40%,-40%);}
}
.main3-img > a:hover{
    transform: translateY(-20%) !important;
}
.main3-img span{
    position: absolute;
    right: 0; bottom: 0;
    color: #fff;
    font-size: 20px;
    margin: 10px;
}
.main3-img > a:nth-child(1) > span{
    color: #000;
}
.main3-img > a > img{
    width: 100%; height: 100%;
}

    /* main4 */
.main4{
    width: 100%; height: 1270px;
}
.main4 .main4-img{
    width: 100%; height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}
.main4-img > a{
    display: inline-block;
    width: 100%; height: 100%;
}   
.m4-i1{
    width: 100%; height: 100%;
    background: url(../img/m4-1.jpg);
    background-size: 290%;
    background-position: 30%;
    background-repeat: no-repeat;
    position: relative;
}
.m4-i2{
    width: 100%; height: 100%;
    background: url(../img/m4-2.jpg);
    background-size: 310%;
    background-position: 60%;
    background-repeat: no-repeat;
    position: relative;
}
.m4-i3{
    width: 100%; height: 100%;
    background: url(../img/m4-3.jpg);
    background-size: 250%;
    background-position: 40%;
    background-repeat: no-repeat;
    position: relative;
}
/* m4-op */
/* .m4-op{ position: relative;} */
.m4-op::after{
    content: '';
    display: inline-block;
    width: 100%; height: 100%;
    background-color: #000;
    opacity: 0.8;
    transition: .8s;
}
.m4-op:hover::after{
    opacity: 0;
}
/* m4-vit (:visited) */
/* .m4-vit:visited{
    display: none !important;} */

.m4-t{
    width: 100%; height: 100%;
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -20%);
}
.m4-t::before{
    content: '';
    display: block;
    height: 15%;
    border-left: 2px solid rgb(255, 255, 255);
    transform: translate(50%, -50%);
}
.m4-t::after{
    content: '';
    display: block;
    height: 15%;
    border-left: 2px solid rgb(255, 255, 255);
    transform: translate(50%, 50%);

}
/* 
.m4-t2{
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}
.m4-t3{
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
} 
이런방법이!!!!
*/
.main4-img b,p,span{
    color: rgb(255, 255, 255);
}
.m4-t > b{
    font-size: 5px;
}
.m4-t > p{
    font-size: 25px;
    padding: 10px 0 50px;
}
.m4-t > span{
    display: inline-block;
}
/* preview-> */
.m4-p{
    font-size: 20px;
    text-shadow: 6px 4px 3px rgb(0, 0, 0);
}
.main4 b::before{
    content: '';
    display: inline-block;
    width: 10px;
    border-bottom: 2px solid rgb(255, 255, 255);
}
.main4 b::after{
    content: '';
    display: inline-block;
    width: 10px;
    border-bottom: 2px solid rgb(255, 255, 255);
}
/* more */
.more{
    display: block;
    width: 640px; height: 50px;
    background-color: #F1F1F1;
    margin: 0 auto;
    text-align: center;
    font-size: 19px;
    text-shadow: 2px 3px 3px rgb(137, 137, 137);
    color: #000;
    text-decoration: underline ;
    padding-top: 8px;
}
/* =======    main4 - preview   ======= */
.main4-img .m4-pre{
    width: 100%; height: 85%;
    text-align: center;
    text-shadow: none;
    position: relative;
    position: absolute;
    left: 0;bottom: 0;
    display: none;
}
.m4-pre1{    
    width: 100%; height: 85%;
    background: url(../img/m4-1.jpg);
    background-size: 100%;
    background-position: 30%;
    background-repeat: no-repeat;
    position: relative;
    position: absolute;
    left: 0;top: 0;
}
.m4-pre2{
    width: 100%; height: 85%;
    background: url(../img/m4-2.jpg);
    background-size: 120%;
    background-position: 60%;
    background-repeat: no-repeat;
    position: relative;
    position: absolute;
    left: 0;top: 0;
}
.m4-pre3{
    width: 100%; height: 85%;
    background: url(../img/m4-3.jpg);
    background-size: 100%;
    background-position: 40%;
    background-repeat: no-repeat;
    position: relative;
    position: absolute;
    left: 0;top: 0;
}
.m4-pre-bg::after{
    content: '';
    display: inline-block;
    width: 40%; height: 100%;
    background-color: #bbb;
    opacity: 70%;
    position: absolute;
    left: 0; top: 0;
}
.m4-preinfo{
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 15%; top:50%;
    transform: translate(-10%,-50%);
    z-index: 1;
}
.m4-preinfo > h2{
    font-size: 10px;
    padding: 0%;
}
.m4-preinfo >b{
    font-size: 32px;
    padding: 5% 0 10%;
}
.m4-preinfo >p{
    font-size: 16px;
    white-space: pre-line;
    line-height: 2rem;
    color: #000;
    padding: 10% 0 30%;
}
.m4-preinfo > a:nth-of-type(1){
    display: inline-block;
    width: 237px; height: 27px;
    background-color: #5D912E;
    color: #fff;
}
.m4-preinfo > a:nth-of-type(2){
    display: inline-block;
    width: 33px; height: 33px;
    background-color: rgba(255,255,255,0.4);
    border-radius: 100%;
    color: #5d912e;
    font-size: 14px;
    padding: 2%;
    margin-top:15%;
}

    /* sub1 */
.sub1{
    width: 100%;
}
.sub1-1 {
    margin-top: 100px ;
    width: 100%; height: 1173px;
    background: url(../img/s1-1.jpg);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: 30%;
    position: relative;
}
.sub1-1 > h2{
    font-size: 20px;
    color: #fff;
    text-align: center;
    position: absolute;
    left: 50%; top: 15%;
    transform: translate(-50%);
}
.sub1-1 > p{
    font-size: 15px;
    white-space: pre-line;
    position: absolute;
    left: 7%; bottom: 15%;
    line-height: 2rem;
}
.sub1-2{
    width: 100%; height:1173px;
    background: url(../img/s1-2.jpg);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: 30%;
    position: relative;
}
.sub1-2 > p{
    font-size: 15px;
    white-space: pre-line;
    position: absolute;
    text-align: right;
    right: 7%; top: 15%;
    line-height: 2rem;
}
.sub1-3{
    width: 100%; height: 1173px;
    background: url(../img/s1-3.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: -50%;
    opacity: 65%;
    position: relative;
}
.sub1-3::after{
    content: '';
    display: inline-block;
    width: 40%; height: 100%;
    background-color: #fff;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    opacity: 70%;
}
.sub1-3 > p{
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    white-space: pre-line;
    color: #000;
    z-index: 1;
    margin: auto;
    text-align: center;
    font-size: 14px;
    line-height: 2rem;
}
.sub1-3 > p > span{
    font-weight: 600;
    font-size: 20px;
    display: inline-block;
    padding-bottom: 60px;
    color: #000;
}
/* lin-on2 */
.lin-on2{
    /* width: 100%;
    position: absolute;
    left: 50%; top: 8%;
    transform: translate(-50%); */
    color: #fff;
    z-index: 1;
    text-align: center;
    padding-top: 100px;
}
.lin-on2 > b{
    font-size: 13px;
}
.lin-on2 > b::before{
    content: '';
    display: inline-block;
    border-top: 1px solid #fff;
    transform: translateX(-2%);
    width: 400px;
    padding: 2px 0;
}
.lin-on2 > b::after{
    content: '';
    display: inline-block;
    border-top: 1px solid #fff;
    transform: translateX(2%);
    width: 400px;
    padding: 2px 0;
}
.lin-on2 > p{
    font-size: 12px;
}

    /* sub2 */
/* lin-on */
.lin-on{
    /* width: 100%;
    position: absolute;
    left: 50%; top: 8%;
    transform: translate(-50%); */
    color: #5D912E;
    z-index: 1;
    text-align: center;
}
.lin-on > b{
    font-size: 13px;
}
.lin-on > b::before{
    content: '';
    display: inline-block;
    border-top: 1px solid #5D912E;
    transform: translateX(-2%);
    width: 400px;
    padding: 2px 0;
}
.lin-on > b::after{
    content: '';
    display: inline-block;
    border-top: 1px solid #5D912E;
    transform: translateX(2%);
    width: 400px;
    padding: 2px 0;
}
.lin-on > p{
    font-size: 10px;
    color: #5D912E;
}
.sub2{
    width: 100%; height: 100vh;
}
.sub2 > h2{
    margin: 15% auto;
    text-align: center;
}
.sub2 .s2-info{
    width: 100%; height: 1603px;
}
.sub2 .s2-i1{
    width: 100%; height: 1123px;
    background: url(../img/s2-1.jpg);
    background-repeat: no-repeat;
    background-size: 110%;
    margin: 0 auto;
    position: relative;
}
.s2-i1 .btn1{
    position: absolute;
    left: 50%; bottom: 5%;
}
.s2-i2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; padding: 0;
}
.s2-i2 > a{
    display: block;
    width: 25%; height: 477px;
    position:relative;
}
.s2-i2 > a:nth-of-type(1){
    background: url(../img/s2-2.jpg);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: 40%;
}
.s2-i2 > a:nth-of-type(2){
    background: url(../img/s2-3.jpg);
    background-repeat: no-repeat;
    background-size: 142%;
    background-position:80% ;
}
.s2-i2 > a:nth-of-type(3){
    background: url(../img/s2-4.jpg);
    background-repeat: no-repeat;
    background-size: 120%;
}
.s2-i2 > a:nth-of-type(4){
    background: url(../img/s2-5.jpg);
    background-repeat: no-repeat;
    background-size: 200%;
    background-position:20% ;
}
.s2-i2 > a::before{
    content: '';
    display: block;
    width: 100%; height: 100%;
    background-color: rgba(255,255,255,0.85);
    opacity: 0;
    transition: .5s;
}
.s2-i2 > a::after{
    content: 'CLICK';
    display: inline-block;
    font-size: 25px;
    color: #949494;
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: .5s;
    text-decoration: underline;
}
.s2-i2 > a:hover::before{
    opacity: 1;
}
.s2-i2 > a:hover::after{
    opacity: 1;
}
.s2-i2 p{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%; transform: translate(-50%);
    bottom: -7%;
    color: #000;
    font-size: 16px;
}
.s2-t{
    width: 100%;
    margin: 0 auto;
}
.s2-t > a:nth-of-type(1){
    display: block;
    width: 625px; height: 57px;
    text-align: center;
    background-color: #5D912E;
    opacity: 38%;
    color: #fff;
    font-size: 20px;
    margin: 15% auto 10%;
    text-decoration: dashed;
    padding: 10px;
    font-weight: 600;
    text-shadow: 3px 3px 3px #000;
}
/* .check-t */
.check-t{
    display: block;
    width: 625px; height: 50px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #5D912E;
    color: #5D912E;
    font-size: 16px;
    text-decoration: dashed;
    position: relative;
    padding: 10px;
}
.check-t::after{
    content: '';
    display: inline-block;
    width:55px; height: 55px;
    background: url(../img/check.png);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    left:50%; bottom: 150%;
    transform: translate(-50%);
}
.s2-t > ul{
    margin: 0 0 15% 10%;
    line-height: 2.5rem;
}
.s2-t li{
    list-style-type: disc;
    font-size: 15px;
}

    /* sub3 */
.sub3{
    width: 100%;
}
.sub3 > h2{
    width: 100%;
    text-align: center;
    margin: 15% auto;
}
.sub3 > h2::before{
    content: '';
    display: inline-block;
    width: 0px;
    height: 0px;
    border-top: 20px solid #5D912E;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin: 0 15px;
}
.sub3 > h2::after{
    content: '';
    display: inline-block;
    width: 0px;
    height: 0px;
    border-top: 20px solid #5D912E;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin: 0 15px;
}
.sub3 > p{
    color: #000;
    text-align: center;
}
.map{
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.map > img{
    width: 80%;
    display: block;
    margin: 0 auto;
}
.map .map-info{
    width: 90%; height: 35%;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    display: none;
}
.map-info::before{
    content: '';
    display: inline-block;
    width: 40%; height: 100%;
    background: url(../img/s3-2.jpg);
    background-repeat: no-repeat;
    background-size: 130%;
    background-position: 50%;
    transform: translate(20%);
    float: left;
}
.map-info::after{
    content: '칼봉산휴양림 : 펜션에서 1~2분거리 경반계곡의 청정지역에 있어 다양한 종류의 텃새와 야생화, 민물고기, 도마뱀 등 생태자원이 풍부한 곳.';
    line-height: 2rem;
    width: 30%; height: 100%;
    float: right;
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%);
}
.sub3 > p:nth-of-type(1){
    margin: 1% auto;
}
.sub3 > p:nth-of-type(2){
    margin: 1% auto ;
}

    /* sub4 */
.sub4{
    margin-top: 100px;
    width: 100%; height: 100vh;
    background: url(../img/s4-1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
}
.sub4 .s4-t{
    margin: 0; padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 18%; top: 25%;
}
.s4-t > b{
    font-size: 35px;
    color: #000;
    text-decoration: underline;
}
.s4-t > p{
    font-size: 15px;
    color: #000;
    margin: 40% auto 20%;
}
.s4-t > a{
    font-size: 12px;
    color: #fff;
    width: 80%;
    background-color: #5D912E;
    opacity: 0.5;
    padding: 5% 10%;
    text-align: center;
}
.sub4 .btn1{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 100%; bottom: 50%;
    transform: translateX(-50%);
}
.sub4 .btn1 > a{
    margin: 3% 0;
}
.s4-info{
    width: 30%; height: 100%;
    position: relative;
    position: absolute;
    left: 0; top:0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
}
.s4-info::after{
    content: '';
    display: inline-block;
    transform: translateY(-50%);
    width: 30%; height: 100%;
    border-bottom: 980px solid rgba(80,128,38,0.5);
    border-left: 500px solid rgba(80,128,38,0.5);
    border-right: 500px solid transparent;
    position: absolute;
    left: 0; top:0;
    z-index: 1;
}
.s4-info > h2,ul{
    z-index: 2;
}
.s4-info > h2{
    position: absolute;
    left: 50%; top: 15%;
    font-size: 20px;
}
.s4-info > ul{
    position: absolute;
    left: 20%; top: 55%;
    transform: translateY(-50%);
}
.s4-info li{
    font-size: 18px;
    white-space: pre-line;
    padding-bottom: 50px;
    list-style-type: disc;
}
.s4-info > a:nth-of-type(1){
    position: absolute;
    top: 20%; right: -20%;
    width: 5%;
    z-index: 2;
}
.s4-info > a:nth-of-type(2){
    position: absolute;
    bottom: 15%; right: -30%;
    width: 10%;
    z-index: 2;
    opacity: 0.8;
}
.s4-info img{
    width: 100%;
}

    /* sub5 */
/* table은 >(부등호)안씀! */
.sub5 > h2{
    margin: 15% auto 10%;
    text-align: center;
}
.s5-tb > p{
    color: #ffaa00;
    text-align: center;
    text-shadow: 2px 2px 0.7px rgb(199, 199, 199);
    font-size: 1.2rem;
    /* font-weight: 600; */
}
.s5-tb > hr{
    width: 40%;
}
.s5-tb1{
    width: 35%;
    margin: 3% auto;
}
.s5-tb1 caption {
    font-size: 1.2rem;
    text-align: center;
    margin: 5% auto;
}
.s5-tb1 th,
.s5-tb1 td {
    border-right: 1px solid rgb(0, 114, 17);
    border-bottom: 1px solid rgb(0, 114, 17);
    padding: 10px 0;
    text-align: center;
}
.s5-tb1 th{
    font-size: 0.8rem;
}
.s5-tb1 td {
    font-size: 0.7rem;
}
.s5-tb1 tr > th:nth-of-type(1){
    border-left: 1px solid rgb(0, 114, 17);
}
.s5-tb1 tr:nth-of-type(1) > th {
    border-top: 1px solid rgb(0, 114, 17);
}
.s5-tb > a{
    display: block;
    width: 625px;
    margin: 15% auto;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(190, 190, 190);
}
.s5-info li{
    list-style-type: disc;
}
.s5-info{
    padding: 3% 10%;
}
.s5-info b{
    font-size: 1rem;
}
.s5-info p{
    color: #000;
    margin: 2%;
    white-space: pre-line;
}
.s5-info span{
    color: #000;
    white-space: pre-line;
}
.s5-info p,li{
    font-size:0.8rem ;
}
.s5-info > div{
    padding-bottom: 30px;
}
.s5-info > div:nth-of-type(1) li:nth-child(-n+2){
    color:#40974E
}
.s5-info > div:nth-of-type(2) > p:nth-of-type(1){
    color: #146FA1;
}
.s5-info > div:nth-of-type(2) > p:nth-of-type(2){
    color: #ff0000;
}
.s5-info > div:nth-of-type(2) > p:nth-of-type(2) > span{
    font-size: 1rem;
    color: #ea05ff;
}
.s5-info > div:nth-of-type(3) > p{
    color: rgba(255,0,0,0.7);
}

    /* sub6-1 */
.sub6-1{
    /* width: 100%; height: 100vh; */
}
.sub6-1 > h2{
    margin: 15% auto 5%;
    text-align: center;
}
.s6-1-btn{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.s6-1-btn > a{
    display: inline-block;
    padding: 0 2%;
    position: relative;
    transition: 1s;
    color: #000;
}
.s6-1-btn > a::after{
    content: '';
    display: inline-block;
    width:45%;
    border-top: 2px dotted rgb(146, 146, 146);
    position: absolute;
    left: 50%; bottom: -50%;
    transform: translate(-50%);
    display: none;
}
.s6-1-btn > a:hover::after{
    display: block;
}
.s6-1-day{
    margin:8% auto 3%;
}
.s6-1-day > label{
    display: block;
    text-align: center;
    font-size: 11px;
    padding-bottom: 5px;
}
.s6-1-day input{
    display: block;
    text-align: center;
    margin:0 auto;
    border: none;
    font-size: 18px;
}
.s6-1-inp{
    margin: 0 auto;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.s6-1-inp > a{
    display: inline-block;
    font-size: 25px;
    color: #5D912E;
}
.s6-1-img{
    margin: 0 auto;
    position: relative;
    text-align: center;
}
.s6-1-img > p:nth-of-type(2){
    color: #5B5B5B;
    font-size: 11px;
    white-space: pre-line;
    text-align: left;
    padding: 1% 17%;
}
/* s6-1-icon */
.s6-1-icon{
    transform: translate(-30%,-30%);
}
.s6-1-icon > span{
    color: #000;
    font-size: 12px;
}
.s6-1-icon img{
    width: 20px; height: 20px;
}

    /* sub6-2 */
.sub6-2 > h2{
    margin: 15% auto 5%;
    text-align: center;
}
.s6-2-info{
    margin-top: 10%;
}
.s6-2-info > b{
    display: inline-block;
    margin: 2% 12%;
    font-size: 25px;
}
.s6-2-info > div{
    width: 75%;
    height: 199px;
    margin: 0 auto;
    background-color: rgba(208, 208, 208, 0.5);
    padding: 35px 60px;
}
.s6-2-info > div > p{
    color: #000;
    padding: 8px;
    font-size: 20px;
}
.s6-2-info p > span{
    color: rgb(84, 84, 84);
    font-size: 18px;
    padding: 30px;
}
.s6-2-info > div > p a{
    font-size: 15px;
    color: #f00;
    text-decoration: underline;
}
/* s6-2-day */
.s6-2-day > b{
    display: inline-block;
    margin: 2% 12%;
    font-size: 25px;
}
.s6-2-day > ul{
    margin: 0 auto;
    width: 1367px; height: 62px;
    border: 4px solid #F0F0F0;
    border-radius: 10px;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.s6-2-day li:nth-of-type(1){
    width: 100px; height: 100%;
    background-color: #f0f0f0;
    transform: translate(-140%);
}
.s6-2-day li:nth-of-type(1) > img{
    width:35%;
    transform: translate(100%,40%);
}
.s6-2-d{
    font-size: 18px;
    text-align: center;
    transform: translate(-50%);
}
.s6-2-d > input{
    border: none;
    font-size: 18px;
    color: #5D912E;
    font-weight: 600;
}
.s6-2-day li:nth-of-type(3){
    width: 200px; height: 115%;
    background-color: #D8E5CD;
    border-radius: 10px;
    font-size: 18px;
    color: #000000;
    font-weight: 600;
    text-align: center;
    padding: 15px;
    transform: translate(-50%);
}
/* s6-2-check */
.s6-2-check > div{
    display: flex;
    justify-content: space-between;
    margin: 5px 0 20px;
    position: relative;
}
.s6-2-check >div > b{
    display: inline-block;
    margin: 0 12%;
    font-size: 25px;
}
.s6-2-check .s6-1-icon{
    position: absolute;
    right: 10%; bottom:-50%;
    transform: translate(-50%,100%);
}
.s6-2-check > p:nth-of-type(1){
    content: '';
    display: block;
    width:75%;
    border-bottom: 1px solid rgb(0, 0, 0);
    margin: 0 auto;
}
.s6-2-li > div > b{
    font-size: 20px;
    color: #000;
}
.s6-2-check > ul {
    margin: 0 auto;
    width: 75%;
    text-align: center;
}
.s6-2-li{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}
/* .s6-li1 */
.s6-li1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-right: 50px;
}   
.s6-li1 > p{
    padding: 10px 50px 0 10px;
    font-size: 14px;
    color: #6B6B6B;
    white-space: pre-line;
    text-align: left;
}
/* .s6-li2 */
.s6-li2{
    display: flex;
    flex-direction: column;
    padding-left:500px;
}
.s6-li2 > div{
    padding-bottom:5px; margin: 0;
}
.s6-li2 label{
    font-size: 13px;
    padding-right: 10px;
}
.s6-li2 input{
    width: 188px;
    text-align: center;
}
/* .s6-li3 */
.s6-li3 > input{
    display: none;
}
.s6-li3 > input:checked + label{
    color: #40974E;
    font-weight: 600;
    border: 3px solid #40974E;
    font-size:20px;
    padding: 1px;
}
.s6-li3 > label{
    display: inline-block;
    font-size: 17px;
    width: 160px; height: 40px;
    border: 2px solid #828282;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
}
.s6-li3 > p{
    font-size:27px;
    color: #000;
    text-align: center;
    padding-top: 5px;
}
/* listline */
.s6-2-check > ul > p{
    width: 95%;
    border-bottom: 2px dotted #ddd;
    margin: 0 auto;
    padding: 10px 0 20px ;
}
.s6-2-check > p{
    color: #5B5B5B;
    font-size: 11px;
    white-space: pre-line;
    text-align: left;
    padding: 1% 13%;
}
/* .s6-2res */
.s6-2res{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(22%);
}
.s6-2res > p{
    color: #000;
    font-size: 24px;
    padding-right: 60px;
}
.s6-2res > p > span{
    color: #f00;
}
.s6-2res > a{
    display: inline-block;
    width: 197px; height: 48px;
    background-color: #5D912E;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    font-weight: 600;
}
.sub6-2 > p{
    color: #5B5B5B;
    font-size: 11px;
    white-space: pre-line;
    text-align: left;
    padding: 1% 17% 5%;
}

    /* sub7 */
.sub7 > h2{
    margin: 15% auto 5%;
    text-align: center;
}
.s7{
    margin: 10%;
    border: 5px solid rgba(93,145,46,0.5);
    padding: 10%;
}
.s7-bar > figure{
    padding: 0 0 4% 28%;
}
.s7-bar > figure > figcaption{
    font-size: 50px;
    display: inline-block;
    transform: translateY(30%);
}
.s7-bar > ul{
    margin: 0 auto;
    padding: 0;
    width: 500px;
}
.s7-bar > ul > li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.s7-bar > ul > li > b{
    font-size: 15px;
}
.s7-bar > ul > li > span{
    display: inline-block;
    width: 300px; height: 18px;
    background-color: rgba(168,168,168,0.2);
    margin:18px 0 0 50px;
}
.s7-bar > ul > li > span::after{
    content: '';
    display: inline-block;
    width: 210px; height: 18px;
    background-color: #C8B797;
}
.s7 > ul{
    margin-top: 15%;
    overflow-y: auto;
    height: 1300px;
}
/* 스크롤바 - 디자인 /
.container {
    width: 250px;
    height: 140px;
    overflow: auto; }
.container::-webkit-scrollbar { width: 10px;}
.container::-webkit-scrollbar-thumb{ background-color: #2f3542;}
.container::-webkit-scrollbar-track { background-color: grey; 
*/
.s7-li{
    margin-top: 3%;
}
.s7-li > div{
    margin-left:5% ;
}
.s7-li > div > b{
    font-size: 11px;
}
.s7-li > div > p{
    padding: 10px 0;
    font-size: 10px;
    color: #777;
}
.s7-li > figure{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.s7-li > figure > img{
    width: 10%;
}
.s7-li > figure > figcaption{
    font-size:15px;
    white-space: pre-line;
    margin-left:50px ;
}
.sub7 > a{
    display: inline-block;
    width: 300px; height: 40px;
    background-color: rgba(93,145,46,0.5);
    color: #fff;
    font-size: 20px;
    text-align: center;
    margin: 0 50%;
    transform: translate(-50%);
    padding: 10px;
}

/* .css-progressbar {
    width: 80%;
    animation: progressbar 2s ease-out;
}
// animation
@keyframes progressbar { 
  0%  { 
    width: 0%;
  } 
  100% { 
    width: 80%;
  }  
} */